:root {
  --primary-color: rgb(0, 59, 110);
  --accend-color: rgb(197, 26, 27);
  --success-color: #2aaa13;
  --danger-color: red;
  --text-color: #353535;
  --default-font-size: 12px;
  --bold-font-weight: 800;
  --font-family: "Roboto";
  --max-content-width: 1200px;
  --content-margin: 20px;
}
