@import '~normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,400;1,800&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(0, 59, 110);
  --accend-color: rgb(197, 26, 27);
  --success-color: #2aaa13;
  --danger-color: red;
  --text-color: #353535;
  --default-font-size: 12px;
  --bold-font-weight: 800;
  --font-family: 'Open Sans', sans-serif;
  --max-content-width: 1200px;
  --content-margin: 18px;
}
