@import '~normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,400;1,800&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(0, 59, 110);
  --accend-color: rgb(197, 26, 27);
  --success-color: #2aaa13;
  --danger-color: red;
  --text-color: #353535;
  --default-font-size: 12px;
  --bold-font-weight: 800;
  --font-family: 'Open Sans', sans-serif;
  --max-content-width: 1200px;
  --content-margin: 18px;
  --inner-container-width: 1015px;
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: "HaboroSans";
  src: url('./assets/fonts/haboro-webfont/insigne\ -\ Haboro\ Sans\ Norm\ Regular.otf');
}
@font-face {
  font-family: "HaboroSans";
  font-weight: 800;
  src: url('./assets/fonts/haboro-webfont/insigne\ -\ Haboro\ Sans\ Norm\ Bold.otf');
}
@font-face {
  font-family: "HaboroSans";
  src: url('./assets/fonts/haboro-webfont/insigne\ -\ Haboro\ Sans\ Norm\ Bold\ Italic.otf');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "HaboroSans";
  src: url('./assets/fonts/haboro-webfont/insigne\ -\ Haboro\ Sans\ Norm\ Regular\ Italic.otf');
  font-style: italic;
}
body {
  margin: 0;
  padding: 0;
  font-family:var(--font-family);
}
ul{
  padding: 0;
  margin: 0;
}
li{
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--primary-color);
}

.btn {
  display: inline-block;
  padding: 16px 25px;
  border-radius: 40px;
  font-size: 24px;
  font-weight: var(--bold-font-weight);
  cursor: pointer;
  border: none;
}
html {
  scroll-behavior: smooth;
}
