:host {
  .teaser {
    border-radius: 5px;
    overflow: hidden;
    height: 100%;
    background-color: var(--background-color);
    display: block;
    text-decoration: none;
    border: var(--border);
    box-shadow: var(--box-shadow);

    @media not all and (hover: none) {
      &.has-hover-box-shadow {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          opacity: 0;
          box-shadow: var(--hover-box-shadow);
          transition: opacity .2s ease-in-out;
        }

        &:hover::after {
          opacity: 1;
        }
      }
    }

    &__image-container {
      overflow: hidden;
      img {
        object-fit: var(--background-image-size);
        height: var(--image-height);
        transform: scale(1);
        transition-duration: 0.5s;
        display: block;
      }
      &:hover img {
        transform: scale(1.08);
      }
    }
    &__text-container {
      margin: 15px 20px 28px;
    }
  }
  .text {
    color: var(--text-color);
    text-align: center;
    &--h3 {
      font-size: 21px;
      line-height: 20px;
      font-weight: var(--bold-font-weight);
      margin: 0;
    }
    &--p {
      font-size: 14px;
      line-height: 19px;
      margin: 5px 0 0;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
