<a
  class="teaser"
  [class.has-hover-box-shadow]="hoverBoxShadow"
  [smNavigate]="link || ''"
  [smNavigateTarget]="linkTarget || ''"
  [style.--border]="border"
  [style.--hover-border]="hoverBorder || border"
  [style.--box-shadow]="boxShadow"
  [style.--hover-box-shadow]="hoverBoxShadow || boxShadow"
  [style.--image-height]="teaserHeightForTemplate"
  [style.--background-color]="backgroundColor"
  [style.--text-color]="textColor"
  [style.--background-image-size]="backgroundImageSize"
>
  <div class="teaser__image-container">
    <img [smScaleImage]="imageUrl || ''" masonryLazy loading="lazy" [smWidthRounding]="100" width="100%" alt="{{ header }}" />
  </div>
  <div class="teaser__text-container">
    <h3 class="text text--h3">{{ header }}</h3>
    <p class="text text--p">
      {{ description }} {{link}}
    </p>
  </div>
</a>
