<a
  class="teaser"
  [smNavigate]="link || ''"
  [style.--background-image]="imageUrl ? 'url(' + imageUrl + ')' : ''"
  [style.--teaser-height]="teaserHeight ? teaserHeight + 'px' : ''"
  [style.--background-color]="backgroundColor"
  [style.--background-image-position]="backgroundImagePosition"
  [style.--background-image-size]="backgroundImageSize"
>
  <img *ngIf="!teaserHeight" src="{{imageUrl}}">
  <div class="teaser__titles">
    <h3>{{ header }}</h3>
    <p>{{ description }}</p>
  </div>
</a>
