<div
  class="image-article"
  [class.left]="imagePosition === 'left'"
  [class.right]="imagePosition === 'right'"
  [style.--image-order]="imagePosition === 'left'? 0 : 2"
  [style.--image-border-radius-mobile]="imageBorderRadius"
  [style.--image-border-radius]="imagePosition ==='left'? '0 ' + imageBorderRadius + ' ' + imageBorderRadius + ' 0' :  imageBorderRadius + ' 0 '  + '0 ' + imageBorderRadius "
  [style.--background-image]="'url(\'' + image + '\')'"
  [style.--background-color]="backgroundColor"
  [style.--box-shadow]="boxShadow"
  [style.--text-color]="textColor"
>
  <div class="image-article__image-container">
    <img class="image-article__image-container__image" src="{{ image }}" alt="" />
  </div>
  <div class="image-article__article">
    <img *ngIf="icon" class="icon" src="{{ icon }}" alt="logo" />
    <h3 class="header">{{ header }}</h3>
    <p class="description" [innerHtml]="description">
    </p>
    <ng-content select="[sm-article-button]"></ng-content>
    <div class="image-article__article__links-container" *ngIf="links?.length">
      <a
      sitemule-button
      *ngFor="let link of links"
      color="primary"
      [ngStyle]="{'backgroundColor': link.backgroundColor, 'color': link.color}"
      [href]="link.href"
      [target]="link.target"
      [size]="link.size"
      [textSize]="link.textSize"
      [mobileTabletSize]="link.mobileTabletSize"
      [mobileTextSize]="link.mobileTextSize"
      [borderRadius]="link.borderRadius"
      [style.--icon-color]="link.color"
      >
        {{ link.label }}
        <img class="buttion-icon" *ngIf="link.icon && buttonIcon" [src]="buttonIcon" alt="download icon">
      </a>
    </div>
  </div>
</div>
