@use '../../../../variables';

:host {
  .image-article {
    padding: 12px var(--content-margin);
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    background-color: var(--background-color);

    &__image-container {
      order: 0;

      &__image {
        display: block;
        width: 100%;
        border-radius: var(--image-border-radius-mobile);
        box-shadow:  var(--box-shadow);
      }
    }
    &__article {
      .icon {
        margin-bottom: 12px;
        margin-right: -15px;
        border-radius: 7px;
      }
      .header {
        color:#092728; // may come from data or variable
        font-size: 30px;
        line-height: 33px;
        margin: 0;
      }
      .description {
        color:#887d8c; // may come from data or variable
        font-size: 16px;
        line-height: 26px;
        margin-top: 10px;
      }

      &__links-container {
        display: flex;
        gap: 10px;
        margin-top: 20px;
      }
    }
  }
  @media (min-width: map-get(variables.$breakpoints, "phone")) {
    display: grid;
    grid-template-columns: [left] 1fr [center] minmax(
        auto,
        calc(var(--max-content-width) + var(--content-margin) * 2)
      ) [right] 1fr;

    .image-article {
      &.left {
        grid-column: left / span 2;
        margin-right: var(--content-margin);
      }
      &.right {
        grid-column: center / span 2;
        margin-left: var(--content-margin);
      }
    }
    .image-article {
      padding: 0;
      flex-direction: row;
      align-items: center;
      gap: 60px;

      &__image-container {
          order: var(--image-order);
          width: 45%;
          margin: 0;

          &__image {
            border-radius: var(--image-border-radius);
          }
      }

      &__article {
        padding: 12px 0;
        flex: 1;

        .icon {
          margin-bottom: 36px;
        }

        .header {
          font-size: 46px;
          line-height: 46px;
          font-weight: 800;
        }
        .description {
          font-size: 16px;
          line-height: 26px;
        }
        &__links-container {
          gap: 20px;
        }
      }
    }
  }
}
