<div class="contacts-container" [style.--background-color]="backgroundColor">
  <div class="contacts-container__contacts">
    <section class="contacts-container__contacts__section" *ngFor="let contact of contacts">
      <h2 class="contacts-container__contacts__section__header">{{ contact.department }}</h2>
      <p
        *ngIf="contact.address"
        class="contacts-container__contacts__section__address"
      >{{ contact?.address }}</p>
      <p *ngIf="contact.phone" class="contacts-container__contacts__section__description">Phone <a href="tel: {{ contact.phone }}">{{ contact.phone }}</a></p>
      <p *ngIf="contact.email" class="contacts-container__contacts__section__description">Mail <a href="mailto: {{ contact.email }}">{{ contact.email }}</a></p>
    </section>
  </div>
</div>
