<a
  class="teaser"
  [class.border]="border"
  [smNavigate]="link || ''"
  [style.--border-color]="borderColor || 'rgba(0,0,0, 0.1)'"
  [style.--background-image]="imageUrl ? 'url(' + imageUrl + ')' : ''"
  [style.--teaser-height]="teaserHeight ? teaserHeight + 'px' : ''"
  [style.--text-color]="textColor"
  [style.--background-color]="backgroundColor"
  [style.--background-image-size]="backgroundImageSize"
  [style.--background-image-position]="backgroundImagePosition"
>
  <div class="teaser__image-container">
    <img class="image" src="{{ imageUrl }}" alt="{{ header }}" />
  </div>
  <div class="teaser__text-container" *ngIf="header || description">
    <h3 *ngIf="header" class="teaser__text-container__header">{{ header }}</h3>
    <p *ngIf="description" class="teaser__text-container__description">
      {{ description }}
    </p>
  </div>
</a>
