:host {
  .teaser {
    font-family: var(--font-family);
    border-radius: 5px;
    background-color: var(--background-color);
    display: block;
    text-decoration: none;
    height: 100%;
    border: var(--border);
    box-shadow: var(--box-shadow);

    @media not all and (hover: none) {
      &.has-hover-box-shadow {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          opacity: 0;
          box-shadow: var(--hover-box-shadow);
          transition: opacity .2s ease-in-out;
        }

        &:hover::after {
          opacity: 1;
        }
      }
    }


    &__image-container {
      padding: 10px;
      img {
        width: 100%;
        height: var(--teaser-height);
        display: block;
        object-fit: var(--background-image-size);
        object-position: var(--background-image-position);
      }
    }

    &__text-container {
      color: var(--text-color);
      text-align: center;
      padding: 0 20px 20px;

      &__header {
        font-size: 18px;
        line-height: 22px;
        margin: 0;
        font-weight: normal;
      }

      &__description {
        font-size: 14px;
        line-height: 19px;
        margin: 5px 0 0;
      }
    }
  }
}
