:host {
  .teaser {
    font-family: var(--font-family);
    border-radius: 5px;
    background-color: var(--background-color);
    overflow: hidden;
    display: block;
    text-decoration: none;
    height: 100%;

    &.border {
      box-shadow: 0 2px 7px 0 var(--border-color);
    }

    &__image-container {
      padding: 10px;
      img {
        width: 100%;
        height: var(--teaser-height);
        display: block;
        object-fit: var(--background-image-size);
        object-position: var(--background-image-position);
      }
    }

    &__text-container {
      color: var(--text-color);
      text-align: center;
      padding: 0 20px 20px;

      &__header {
        font-size: 18px;
        line-height: 22px;
        margin: 0;
        font-weight: normal;
      }

      &__description {
        font-size: 14px;
        line-height: 19px;
        margin: 5px 0 0;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
}
