<div class="hero-header" [style.--background-image]="'url(' + image + ')'">
  <div *ngIf="image">
    <img src="{{ image }}" />
  </div>
  <div *ngIf="youtubeSrc" class="video-container">
    <iframe [smYoutubeSrc]="youtubeSrc"></iframe>
  </div>
  <div class="hero-header__content">
    <h4 *ngIf="topHeader" class="top-header">{{ topHeader }}</h4>
    <h2 class="header">{{ header }}</h2>
    <p class="description">
      {{ description }}
    </p>
    <div *ngIf="links?.length" class="links">
      <a
        sitemule-button
        *ngFor="let link of links"
        [style.--button-color]="link.color"
        [ngStyle]="{'backgroundColor': link.backgroundColor, 'color': link.color}"
        [href]="link.href"
        [target]="link.target"
        [size]="link.size"
        [textSize]="link.textSize"
        [mobileTabletSize]="link.mobileTabletSize"
        [mobileTextSize]="link.mobileTextSize"
        [borderRadius]="link.borderRadius"
      >
        {{ link.label }}
      </a>
    </div>
    <p *ngIf="note" class="note">{{ note }}</p>
  </div>
</div>
