<ng-container [ngSwitch]="layout">
  <sm-teaser-layout-1
    [teaserHeight]="teaserHeight"
    [imageUrl]="imageUrl"
    [header]="header"
    [description]="description"
    [link]="link"
    [linkTarget]="linkTarget"
    [border]="border"
    [hoverBorder]="hoverBorder"
    [boxShadow]="boxShadow"
    [hoverBoxShadow]="hoverBoxShadow"
    [textColor]="textColor"
    [backgroundColor]="backgroundColor"
    [backgroundImageSize]="backgroundImageSize"
    [backgroundImagePosition]="backgroundImagePosition"
    *ngSwitchCase="'layout-1'">
  </sm-teaser-layout-1>
  <sm-teaser-layout-2
    [teaserHeight]="teaserHeight"
    [imageUrl]="imageUrl"
    [header]="header"
    [description]="description"
    [link]="link"
    [linkTarget]="linkTarget"
    [border]="border"
    [hoverBorder]="hoverBorder"
    [boxShadow]="boxShadow"
    [hoverBoxShadow]="hoverBoxShadow"
    [textColor]="textColor"
    [backgroundColor]="backgroundColor"
    [backgroundImageSize]="backgroundImageSize"
    [backgroundImagePosition]="backgroundImagePosition"
    *ngSwitchCase="'layout-2'">
  </sm-teaser-layout-2>
  <sm-teaser-layout-3
    [teaserHeight]="teaserHeight"
    [imageUrl]="imageUrl"
    [header]="header"
    [description]="description"
    [link]="link"
    [linkTarget]="linkTarget"
    [border]="border"
    [hoverBorder]="hoverBorder"
    [boxShadow]="boxShadow"
    [hoverBoxShadow]="hoverBoxShadow"
    [textColor]="textColor"
    [backgroundColor]="backgroundColor"
    [backgroundImageSize]="backgroundImageSize"
    [backgroundImagePosition]="backgroundImagePosition"
    *ngSwitchCase="'layout-3'">
  </sm-teaser-layout-3>
  <div *ngSwitchDefault>Unknown layout: {{layout}}</div>
</ng-container>
