@use 'projects/variables';
.teaser-stack-layout-1 {
  background-color: var(--background-color);
  padding: calc(var(--content-margin) * 2) var(--content-margin);

  &:not(.full-page-width) {
    .teaser-stack-layout-1-container {
      margin-left: auto;
      margin-right: auto;
      max-width: var(--max-content-width);
    }
  }
}
.teaser-stack-title {
  font-size: 32px;
  color: #123456;
  margin: 0;
  font-family: var(--font-family);
}
.teaser-stack {
  margin-top: 20px;
}

.no-float {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}

.float sm-teaser {
  display: block;
  margin-bottom: 10px;
}

h2 {
  text-align: center;
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 40px;
  line-height: 43px;
  margin: 20px auto;
}

.teaser-stack-read-more-link {
  text-align: center;
  margin-top: var(--content-margin);
  a {
    text-decoration: none;
    color: var(--primary-color);

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (min-width: map-get(variables.$breakpoints, "phone")) {
  .no-float {
    grid-template-columns: repeat(var(--column-count), 1fr);
  }
  .float ngx-masonry {
    margin-right: -10px;
  }
  .float sm-teaser {
    width: calc(100% / var(--column-count) - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

@media (min-width: map-get(variables.$breakpoints, "phone")) and (max-width: map-get(variables.$breakpoints, "tablet")) {
  .teaser-stack {
    --column-count: 2 !important; // Force 2 items per row in tablets
  }
}
