<div class="teaser-stack-layout-1"
  [style.--background-color]="backgroundColor"
  [style.--background-image-position]="backgroundImagePosition"
  [style.--background-image-size]="backgroundImageSize"
  [smScaleImage]="backgroundImage || ''"
  [smWidthRounding]="100"
  [ngClass]="{'full-page-width': fullPageWidth}">
  <div class="teaser-stack-layout-1-container">
    <div *ngIf="title || description" class="teaser-stack-text-container">
      <h2 *ngIf="title" class="teaser-stack-title">
        {{ title }}
      </h2>
      <p *ngIf="description" class="teaser-stack-description">
        {{ description }}
      </p>
    </div>
    <div
      class="teaser-stack"
      [ngClass]="teaserHeight ? 'no-float' : 'float'"
      [style.--column-count]="columnCount"
    >
      <ngx-masonry (layoutComplete)="reDoLayout()" *ngIf="!teaserHeight; else withoutTeaserHeight">
        <sm-teaser
          ngxMasonryItem
          *ngFor="let teaser of finalTeasers; trackBy: trackByFn"
          [imageUrl]="teaser?.imageUrl"
          [header]="teaser?.header"
          [description]="teaser?.description"
          [border]="teaser?.border"
          [hoverBorder]="teaser?.hoverBorder"
          [boxShadow]="teaser?.boxShadow"
          [hoverBoxShadow]="teaser?.hoverBoxShadow"
          [textColor]="teaser?.textColor"
          [link]="teaser?.link"
          [backgroundColor]="teaser?.backgroundColor"
          [backgroundImageSize]="teaser.backgroundImageSize"
          [layout]="teaser.layout || layout"
          [backgroundImagePosition]="teaser.backgroundImagePosition"
          [teaserHeight]="teaser.teaserHeight || teaserHeight"
        ></sm-teaser>
      </ngx-masonry>
      <ng-template #withoutTeaserHeight>
        <sm-teaser
          *ngFor="let teaser of finalTeasers; trackBy: trackByFn"
          [imageUrl]="teaser?.imageUrl"
          [header]="teaser?.header"
          [description]="teaser?.description"
          [border]="teaser?.border"
          [hoverBorder]="teaser?.hoverBorder"
          [boxShadow]="teaser?.boxShadow"
          [hoverBoxShadow]="teaser?.hoverBoxShadow"
          [textColor]="teaser?.textColor"
          [link]="teaser?.link"
          [backgroundColor]="teaser?.backgroundColor"
          [backgroundImageSize]="teaser.backgroundImageSize"
          [layout]="teaser.layout || layout"
          [backgroundImagePosition]="teaser.backgroundImagePosition"
          [teaserHeight]="teaser.teaserHeight || teaserHeight"
        ></sm-teaser>
      </ng-template>
    </div>
    <div *ngIf="readMoreLink && readMoreLabel" class="teaser-stack-read-more-link">
      <a [smNavigate]="readMoreLink" >
        {{readMoreLabel}}
      </a>
    </div>
  </div>
</div>
